body{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 30px;
}

table,th,td,tr{
  border: 1px solid black;
  font-size: 18px;
}

th{
  background-color: lightseagreen;
  color:aliceblue;
  width:180px
}

td{
  background-color:khaki;
  color:rgb(25, 0, 100);
  font-weight: 500;
  text-align: center;
}


h1{
  color:aliceblue;
  text-align: center;
  background-color: lightseagreen;
  margin-top: 10px;
}

h3{
  color:darkcyan;
  margin-top: 40px;
  font-size: 24px;
}

input{
  background-color:azure;
  height: 30px;
  width:200px;
  margin-right: 20px;
  font-size: 17px;
}

button{
  background-color:darkturquoise;
  height: 35px;
  font-size: 17px;
}

p{
  font-size: 22px;  
  background-color:coral;
  color: aliceblue;
  width: 270px;
  padding-left: 25px;
}

.input_quantity{
  width:4rem;
}

.custom_select{
  height:2.1rem;
}